src/main/xsd/game.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/game"
	xmlns:tns="http://www.example.org/game" elementFormDefault="qualified">
	<xs:element name="GameRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="player" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" />
				<xs:element name="player" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
